.container{
    margin-top : 0;
    background-color: var(--negroOscuro);
    font-size: 2rem;
    height: 76.5vh;
    color : white;
    overflow-y: scroll;
}

.titulo h2{
    margin-top:0;
    text-align: center;
}

.data{
    text-align: center;
    border-radius: 5px;
    background-color:var(--grisClaro) ;
    box-shadow: 0 0 5px 0.5px var(--sombraColor);
}
.favs{
    margin: 0 auto;
    width: 50%;
    text-align: center;
    background-color: var(--grisClaro);
    border-radius: 5px;
}

.favs th, .favs td {
    padding: 12px 15px;
    text-align: left;
  }

.row{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.row td a{
    color: var(--negro);
    text-decoration: none;
}

.btn{
    margin: 0 auto;
    background-color: var(--verdeClaro);
    border: 0px;
}

.btn a{
    text-decoration: none;
    
    color: black;
}

.logOut{
    margin-left : 3%;
    border-radius: 3px;
}

.eliminar{
    cursor: pointer;
}


@media (max-width: 480px) {

}

@media (min-width: 481px)and  (max-width:768px) {
    
}

@media (min-width: 769px) and (max-width:1279px) {
    
}

@media (min-width: 1280px) {
    
}