<section class="container">
    <div class="titulo">
        <h2>Perfil</h2>
    </div>
    <div class="card">
        <div class="data">
            <p>UserName : {{user?.username}}</p>
            <p>Id : {{user?.id}}</p>
        </div>
        
        <table class="favs">
            <h4>Monedas Favoritas</h4>
            <tr *ngFor="let item of monedasFav" class="row">
                <td>{{item}}</td>
                <td><button class="btn"><a href="" [routerLink]="['/detail',item]">Detalles</a></button></td>
                <td><button class="btn eliminar" (click)="eliminarFav(item)">Eliminar</button></td>  
            </tr>
            
        </table>

        <button class="btn logOut"><a href="" (click)="logOut()">LogOut</a></button>
    </div>

    

</section>