<div class="currency-card">
    <div class="currency-title">
        <p>{{ currency.nombre }}</p>
    </div>
    <div class="currency-content">

        <div class="price">
            <p>Precio compra: </p>
            <p>${{ currency.compra }}</p>
        </div>

        <div class="price">
            <p>Precio venta: </p>
            <p>${{ currency.venta }}</p>
        </div>
        
    </div>
    <div class="currency-footer">
        <i class="fa-solid fa-share-nodes" (click)="copyToClipboard()"></i>
        <i class="fa-solid fa-calculator"></i>
        
    </div>
  
</div> 