<nav class="navbar">
    <div class="logo">
        <p>Logo</p>
        <!-- <img src="assets\Cash-App-logo-recortado.png" alt="logo" [routerLink]="'home'"> NO LO PUEDO HACER ANDAAAAAR AAAAAAAAAAAAAAA-->
    </div>
    <div class="lista">
        <ul class="ul">
            <li><a href="">Inicio</a></li>
            <li><a href="" routerLink="quotation">Cotizaciones</a></li>
            <li><a href="" routerLink="conversion">Conversion</a></li>
            <li><a href="" [routerLink]="ruta">{{textButton}}</a></li>
        </ul>
    </div>

</nav>