<nav class="navbar">
    <div class="logo">
        <img src="logo.png" alt="logo" routerLink="'home'">
        <button (click)="toggleDarkMode()">🌙/☀️</button>
    </div>
    <div class="lista">
        <ul class="ul">
            <li><a href="">Inicio</a></li>
            <li><a href="" routerLink="quotation">Cotizaciones</a></li>
            <li><a href="" routerLink="conversion">Conversion</a></li>
            <li><a href="" [routerLink]="ruta">{{textButton}}</a></li>
        </ul>
    </div>

</nav>