.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--negro);
    height: 6vh;
}

.logo {
    flex: 0.25; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista {
    flex: 2.75;
}

.ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.ul li a {
    text-decoration: none;
    color: var(--blanco);
    font-family: 'Inconsolata';
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1.65rem;
}

.ul li a:hover{
    background-color: var(--verdeClaro);
    color: var(--negroOscuro);
    border-radius: .3rem;
}

p{
    color: white;
}