<section class="container">
    <div class="titulo">
        <h1>{{currency?.target_data?.currency_name}}<img src={{currency?.target_data?.flag_url}}></h1>
    </div>
    <div class="tabla">
        <tr>
            <td>Pais: {{currency?.target_data?.locale}}</td>
        </tr>
        <tr>
            <td>Abreviacion: {{currency?.target_data?.currency_name_short}}</td>
        </tr>
        <tr>
            <td>BaseCode: {{currency?.target_code}}</td>
        </tr>
        <tr>
            <td>Simbolo: <span></span></td>
        </tr>
        <tr>
            <td>Cotizacion en pesos : ${{conversionPeso}}</td>
        </tr>
        <tr>
            <td>Dia y hora de la cotizacion: {{currency?.time_last_update_unix}}</td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </div>
    
</section>
