.list{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2rem;
    /* color: white; */
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: var(--negroOscuro); */
    gap: 3rem;
    min-height: 76.5vh;
}

.select-container,.filter-container{
    height: 5rem;
    width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.select-container label,.filter-container label{
    font-size: 2.3rem ;
    /* color: white; */
}

.select-container select, .filter-container input{
    background-color: var(--grisClaro);
    color: var(--verdeClaro);
    font-size: 2rem ;
}



