<section class="container">
    
  <div class="inputs-container">
    <div class="select-container">
      <label for="Continent">Seleccione una región:</label>
      <select
        id="Continent"
        [(ngModel)]="continente"
        (ngModelChange)="obtenerMonedasPorContinente()"
      >
        <option value="Todas">Todas</option>
        <option value="Europa">Europa</option>
        <option value="Asia">Asia</option>
        <option value="América">América</option>
        <option value="África">África</option>
      </select>
    </div>

    <div class="filter-container">
      <label for="Filter">Buscar moneda:</label>
      <input
        id="Filter"
        type="text"
        placeholder="Escribe para buscar..."
        [(ngModel)]="filtro"
        (ngModelChange)="obtenerMonedasPorContinente()"
      />
    </div>
  </div>

  <div class="list">
    <app-card-currency
      *ngFor="let moneda of monedasContinente; trackBy: trackByIndex"
      [currencyERA]="moneda"
      [tasaHistorica]="valoresHistoricos.tasas[moneda.code]"
    ></app-card-currency>
  </div>
</section>
