/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100;1,100&display=swap');
:root{
    --negro : #221d1d;
    --negroOscuro : #141313;
    --verdeOscuro : #3d673f;
    --verdeClaro : #57b160;
    --azulClaro : #3b809f;
    --azulOscuro : #1f4fdd;
    --blanco : #cfe1ba;
    --grisClaro : #404040;
    --sombraColor : #9c9c9c;
    /* --card-bg : #1f4fdd; */
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    
}

*,
*:after,
*:before{
    box-sizing: inherit;
}

body{
    background-color: #f5f5f5;
    color: #141313;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Inconsolata';
}
.dark-mode{
    background-color: var(--negro);
    color: var(--blanco);
    /* --card-bg : #ff0000; */
}

.main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

router-outlet{
    flex: 1;
}

footer{
    margin-top: auto;
}

@media (max-width: 480px) {
    html{
        width: 100%;
    }
}

@media (min-width: 481px)and  (max-width:768px) {
    
}

@media (min-width: 769px) and (max-width:1279px) {
    
}

@media (min-width: 1280px) {
    
}