<footer class="footer">
    <div class="nosotros" >
        <h4>Info</h4>
        <p>En esta página encontraras las ultimas actualizaciones de las monedas mas importantes del mundo.</p>
        <p>TP FINAL LAB IV 2024</p>
        <p>Nicolas Pavon y Mauro Beltrame</p>
    </div>
    <div class="navigate">
        <h4>Páginas</h4>
        <div class="paginas">
            <ul>
                <li><a href="" [routerLink]="'home'">Inicio</a></li>
                <li><a href="" [routerLink]="'quotation'">Cotizaciones</a></li>
                <li><a href="" [routerLink]="'conversion'">Conversor</a></li>
                <li><a href=""  [routerLink]="'routerText'" (click)="toggleButton()">{{textButton}}</a></li>
                
            </ul>
        </div>
    </div>
    <div class="container-contacto">
        <h4>Contacto</h4>
        <div class="container-ul">
            <ul class="container-li">
                <li><a href="https://www.instagram.com/nicopavon11/" target="_blank">Instagram</a></li>
                <li><a href="">Telefono</a></li>
                <li><a href="">Facebook</a></li>
                <li><a href="">WhatsApp</a></li>
                <li><a href="">Mail</a></li>
            
            </ul>
        </div>
        
    </div>
</footer>