<footer class="footer">
    <div>
        <h4>uno</h4>

    </div>
    <div >
        <h4>Info</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae suscipit culpa omnis perspiciatis quod nisi
            cum ab? Sapiente sunt sint necessitatibus culpa aspernatur error atque?
        </p>
    </div>
    <div class="container-contacto">
        <h4>Contacto</h4>
        <div class="container-ul">
            <ul class="container-li">
                <li>Instagram</li>
                <li>Facebook</li>
                <li>Telefono</li>
                <li>Mail</li>
                <li>Whatsapp</li>
            </ul>
        </div>
        
    </div>
</footer>