.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    background-color : var(--negro);
    color: white;
    gap: 20px;
    font-size: 1.4rem;
}
.nosotros{
    padding: 10px;
}
.container-contacto {
    text-align: center;
}

.container-contacto ul {
    list-style-type: none;
    padding: 0;
}

.container-contacto ul li {
    margin: 5px 0;
}
